body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

button {
  border: 1px solid;
  padding: 10px;
  border-radius: 0;
  background-color: #fff;
  font-size: 14px;

  margin: 0 10px 10px 0;
}

button.primary {
  color: #fff;
  border-color: #1da8d1;
  background-color: #1da8d1;
}

button:disabled {
  color: #ccc;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

button.secondary {
  color: #333;
  border-color: #aaa;
}

input {
  padding: 15px 20px;
  border: 1px solid rgba(159, 163, 167, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: #1da8d1;
  margin-bottom: 10px;
  font-size: 14px;

  -webkit-appearance: none;
}

.reset-btn-container {
  margin-top: 40px;
}

.hideable-container {
  position: relative;
  min-height: 50px;
}

.hideable-container .hide-show-link {
  position: absolute;
  top: 0px;
  left: 150px;

  color: #666;
  font-style: italic;
}

.word-reader-container {
  font-size: 52px;
  text-align: center;
  padding: 20px;
}
